@import "./font.scss";
@import "./colors.scss";
@import "./inputs.scss";
@import "./hero.scss";
@import "./info.scss";
@import "./aboutProgram.scss";
@import "./students.scss";
@import "./final.scss";
@import "./footer.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
